<!-- Timeline Section - Soir -->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Timeline</h2>
                <h3 class="section-subheading text-muted">Déroulement du mariage</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>13:30</h4>
                                <h4 class="subheading">Cérémonie du mariage</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous voulons remercier Dieu, Lui demander de bénir notre mariage, et échanger nos vœux.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>15:00</h4>
                                <h4 class="subheading">Apéro!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Après quelques photos, nous prendrons du temps pour discuter ensemble et partager une collation.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>17:00</h4>
                                <h4 class="subheading">Petite ballade</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous irons faire quelques pas dans la campagne avoisinante et partager un verre de champagne.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>18:30</h4>
                                <h4 class="subheading">Souper & Productions</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Partager un bon repas, rire à nos dépens et passer du bon temps ensemble.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Merci de passer
                                <br>ces moments
                                <br>avec nous!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-auto">
                <div class="chat-input-container">
                    <input type="text" id="user-input" placeholder="Si vous avez d'autres questions...?">
                    <button onclick="sendMessage()">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</section>