<!-- Timeline Section - Evening -->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">What we're going to get up to</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1:30 pm</h4>
                                    <h4 class="subheading">Wedding Ceremony</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will have a ceremony to thank God, ask Him to bless our marriage, and exchange our vows.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3:00 pm</h4>
                                    <h4 class="subheading">Apéro!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After taking a few pictures, we will have moments to discuss, share finger food and drinks.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5:00 pm</h4>
                                    <h4 class="subheading">Going on a stroll</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will go on a little stroll in the countryside nearby and share a glass of champagne.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6:30 pm</h4>
                                    <h4 class="subheading">Dinner & Presentations</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sharing good food, laughing at our expense, and spending quality time together.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>THANKS FOR
                                    <br>CELEBRATING
                                    <br>WITH US</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <div class="chat-input-container">
                        <input type="text" id="user-input" placeholder="If you have any other questions...?">
                        <button onclick="sendMessage()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </section>