<!-- Verse section -->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tu as multiplié, toi, Éternel mon Dieu, tes oeuvres merveilleuses et tes pensées envers nous; on ne peut les arranger devant toi. Si je veux les déclarer et les dire, elles sont trop nombreuses pour les raconter.</h2>
                <h3 class="section-subheading text-muted">Psaume 40:5</h3>
            </div>
        </div>
    </div>
</section>

